#aboutme {
    background: #000;
    color: white;
    padding: 80px 10%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 0;
}

.content {
    flex: 1;
    text-align: left; 
}

.content h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.content h1 span {
    color: #ff68b4;
}
.content p {
    font-size: 17px;
    color: #ddd;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}

.content a button {
    padding: 12px 25px;
    font-size: 15;
    background-color: #ff69b4;
    color: #222;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.content a button:hover {
    background-color: #f30b7f;
}
.content a{
    text-decoration: none;
}
/* Image Section */
.image {
    flex: 1;
    display: flex;
    justify-content: center;
}
.image img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 30px 30px 30px rgb(243, 164, 177);
}

@media (max-width: 768px) {
    #aboutme {  
        flex-direction: column;
        text-align: center;
        gap: 30px;
        padding: 50px 5%;
    }

    .content {
        max-width: 100%;
        order: -1; 
    }

    .image {
        display:none;
    }

    .image img {
        max-width: 40%;
    }
}
